.search-container {
  margin-bottom: 20px; /* Add some space below the search input */
  position: relative; /* Make it a relative positioning context */
}

.input1 {
  width: 100%; /* Take up full width */
  padding: 10px; /* Add padding for better appearance */
  font-size: 16px; /* Increase font size for better readability */
  border: 1px solid #ccc; /* Add border for visual separation */
  border-radius: 5px; /* Add rounded corners */
}

.input1:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
}

.search-icon {
  position: absolute; /* Position the icon relative to its container */
  top: 50%; /* Position it vertically in the middle */
  right: 10px; /* Adjust the position from the left */
  transform: translateY(-50%); /* Center it vertically */
  color: #d5720f; /* Set the color */
  font-weight: bold; /* Make the icon bold */
}


.hide-icon {
  display: none; /* Hide the icon */
}

.card {
    background: white;
    /* border: 2px solid #fe9e0d; */
    color: black;
    margin-bottom: 2rem;
    border-radius: 10px;
  }
  
.btn {
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
.btn-primary {
    background-color:#fe9e0d;
    border-color: #fe9e0d;
    color: white;
  }
  
.btn-primary:hover {
    background-color: #fe9e0d;
    border-color: #fe9e0d;
  }
  
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }
  
.btn-secondary:hover {
    background-color: #0a77ca;
    border-color: #0772dd;
  }

.card-img-top {
    height: 350px; 
    object-fit: cover; 
  }
  
.card-body{
    padding: 20px;
  }

.col-md-4{
    margin-top: 5rem;
  }

.img1{
border-radius: 20px;
width: 10px;
height: 20px;
  }

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
.pagination li {
    margin: 0 5px;
    cursor: pointer;
  }
  
.pagination li.active a {
    background-color: #fe9e0d;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
.pagination li a {
    text-decoration: none;
    color: #fe9e0d;
    padding: 5px 10px;
    border: 1px solid #fe9e0d;
    border-radius: 5px;
  }
  
.pagination li a:hover {
    background-color: #f0f0f0;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

.card-img-top {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
  }

  
}